body{
    background-image: url("../images/site-background.jpg");
}

/* Base Layout */

.page_header{
    margin-bottom: 20px;
}

.page_header_label{
    text-decoration: none !important; 
    color: rgb(1, 142, 167) !important;
}

.page_header_item{
    display: inline-block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Home Page */

.cat_card{
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s;
    margin-top: 15%;
}

.cat_card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.52);
  
}

.cat_logo{
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

/* Favorites Page */

.elementsContainer{
    max-height: 65%;
    overflow: auto;
    padding: 25px;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    margin-top: 15px;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.favTable{
    margin: 25px;
}

.card{
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    transition: 0.4s;
    margin-top: 10px;
    border-radius: 5px;
}

.card_title{
    border-right: 1px solid #e7e7e7;
    text-transform: uppercase;
    text-align: center;
    color: #018ea7;
    font-size: 25px;
}

.card-controls{
    margin: 5px 10px 5px 10px;
    float: right;
    font-size: 25px;
    cursor: pointer;
    color: #018ea7 !important;
}

.modal-title{
    display: inline;
}

.fav-btn{
    background-color: #018ea7 !important;
    border-color: #01798e !important;
    transition: 0.4s;
    outline: none !important;
}

.fav-btn:hover{
    background-color: #01798e !important;
    border-color: #01798e !important;
}

/* jsGrid */

.jsgrid-grid-header, .jsgrid-grid-body{
    overflow: hidden !important;
} 

.jsgrid-button{
    outline: none !important;
}

.meta_Data_icon{
    font-size: 40px;
    color: #018ea7 !important;
}

/* Preloader Css */

.preloader {
    background: rgba(255, 255, 255, 0.95);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}

.status-mes {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -37px 0 0 -35px;
    text-align: center;
}

.bigSqr {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation: bigSqrShrink 1s linear infinite;
    animation: bigSqrShrink 1s linear infinite;
}

.square {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #018ea7;
}

.first {
    left: 0px;
    top: 20px;
}

.second {
    left: 20px;
    top: 20px;
    -webkit-animation: drop2 1s linear infinite;
    animation: drop2 1s linear infinite;
}

.third {
    left: 0px;
    top: 0px;
    -webkit-animation: drop3 1s linear infinite;
    animation: drop3 1s linear infinite;
}

.fourth {
    left: 20px;
    top: 0px;
    -webkit-animation: drop4 1s linear infinite;
    animation: drop4 1s linear infinite;
}

.text_loading {
    line-height: 16px;
    font-weight: 400;
    color: #018ea7;
    display: block;
    margin: 5px auto;
    padding: 3px;
    font-size: 17px;
}

@-webkit-keyframes bigSqrShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes bigSqrShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@-webkit-keyframes drop2 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    25% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes drop2 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    25% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-webkit-keyframes drop3 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    50% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes drop3 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    50% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-webkit-keyframes drop4 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes drop4 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
