<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-12">
            <a href="https://github.com/a-maksousa" target="_blank">
                <img style="float: right;width: 60px" src="{{url_for('static',filename='images/Github.png')}}">
            </a>
            <a href="https://www.linkedin.com/in/amaksousa/" target="_blank">
                <img style="float: right;width: 60px" src="{{url_for('static',filename='images/linkedin.png')}}">
            </a>
        </div>
    </div>
</div>