<html>

<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Favorites.png') }}">

    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.toast.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jsgrid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jsgrid-theme.min.css') }}">

    <!-- scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.toast.js') }}"></script>
    <script src="{{ url_for('static', filename='js/all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2@8.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsgrid.min.js') }}"></script>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Favorite Things</title>
    {% endif %}

</head>

<body>

    <!-- header -->
    {% include "_header.html" %}

    <!-- child template -->
    {% block content %}{% endblock %}

    <!-- footer -->
    {% include "_footer.html" %}

</body>

<!-- loading screen -->
<div class="preloader">
    <div class="status-mes">
        <div class="bigSqr">
            <div class="square first"></div>
            <div class="square second"></div>
            <div class="square third"></div>
            <div class="square fourth"></div>
        </div>
        <div class="text_loading text-center bold">Loading</div>
    </div>
</div>

</html>